[Unit]
Description=iPWGBackup Professional Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/ipwgbackup/backend/bot.py
WorkingDirectory=/opt/ipwgbackup
Restart=always
User=root

[Install]
WantedBy=multi-user.target
